/* input[type="checkbox"]:checked+span {
  color: #FE5F27;
} */

/* input[type="checkbox"]:checked#sun+span {
  color: rgb(190, 0, 0);
} */

div,
label {
  color: #818182;
}

input,
button {
  box-shadow: 3px 4px 6px 0px rgba(225, 225, 225, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
